<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    login page
    <hr>
    <form action="/loginProc" method="post" name="loginForm">
        <input id="username" type="text" name="username" placeholder="id"/>
        <input id="password" type="password" name="password" placeholder="password"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
<!--  csrf을 enable 했으니  csrf 토큰을 받아서 서버측으로 전달해주는 추가적인 과정이 이 부분에 필요함 -->
        <input type="submit" value="login"/>
    </form>


</body>
</html>